<%- include ('Cabeceras/cabeceraLogin') %>
  <body>
    <main>
      
      <div class="container">
        
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 align-self-center text-center">
            <img src="/img/PrincipalWhite.svg" class="logo" width="258" height="98">
            <hr>
            <h2>Registro de usuario</h2>       
          </div>
        </div>

        <br>

        <form>
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <label for="firstName" class="form-label">Nombre(s):</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>
            <div class="col-12 col-md-8">
              <label for="lastName" class="form-label">Apellidos:</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            </div>
            <div class="col-12 col-md-6">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="you@mail.com">
            </div>
            <div class="col-12 col-md-6">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" class="form-control" id="password" placeholder="Mínimo 8 caracteres">
            </div>
            <div class="col-12 col-md-8">
              <label for="address" class="form-label">Dirección:</label>
              <input type="text" class="form-control" id="address" placeholder="Calle/Numero/Colonia" required>
            </div>
            <div class="col-12 col-md-4">
              <label for="country" class="form-label">País:</label>
              <select class="form-select" id="country" required>
                <option value="">Seleccionar</option>
                <option>México</option>
              </select>
            </div>
            <div class="col-12">
              <br>
            </div>
            <div class="col-8 col-md-4">
              <button class="w-100 btn btn-success btn-lg" type="submit">Completar registro</button>
            </div>
          </div>
        </form>
      </div>
      <br>

      <footer class="container">
        <div class="row">
          <div class="col-6 d-flex order-2 justify-content-end">
            <a class="nav-link" href="http://localhost:3000/">Regresar</a>
          </div>
          <div class="col-6 d-flex justify-content-start">
            <p>&copy; 2021 The Tecla Store, Inc. &middot;</p>
          </div>
        </div>
        
      </footer>
      
      <!--Scripts-->
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/form-validation.js"></script>

    </main>
  </body>
</html>