.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 500px;
}

.cardImgGrid {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 4;
}

.cardBodyGrid {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.shadow-sm{
    display: flex;
    align-items: center;
}

#cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display:flex;
    align-items: center
}

.card-text{
    display: flex;
    align-items: center;
}

.d-flex{
    display:flex;

}

.justify-content-between{
    display:flex
}

.align-items-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
